<!DOCTYPE html>
<html lang="es">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!--meta(http-equiv="content-language", content="es")-->
  <meta http-equiv="content-language" content="en">
  <meta name="Viewport" content="width=device-width, initial-scale=1.0">
  <meta name="Title" content="Jgalvan Design">
  <meta name="Subject" content="Portfolio Jesus Galvan Gonzalez">
  <meta name="Author" content="Jesus Galvan Gonzalez">
  <!--meta(name="Description", lang="es", content="Jgalvan Design es un portfolio, web personal y un el perfil universal de Jesus Galvan Gonzalez")-->
  <!--meta(name="Keywords", lang="es", content="Portfolio, Jgalvandesign, diseño web, programación")-->
  <meta name="Description" lang="en" content="Jgalvan Design is a portfolio, personal website and universal profile the Jesus Galvan Gonzalez">
  <meta name="Keywords" lang="en" content="Portfolio, Jgalvandesign, web design, programing">
  <meta name="page-topic" content="Portfolio - Jgalvandesign - Web Design - Programing - Personal Website - Games Online">
  <meta name="Abstract" content="Portfolio. Jgalvandesign. Web Design. Programing. Personal Website. Games Online. Technology Blog">
  <meta name="Copyright" content="©2022 Jgalvan Design.">
  <meta name="Publisher" content="Jesus Galvan Gonzalez">
  <meta name="Robots" content="All">
  <title>Jgalvan Design</title>
  <link rel="shortcut icon" type="image/x-icon" href="../assets/icons/icono_logo.ico">
  <link rel="stylesheet" href="../css/styles.css">
  <body>
    <!--include headers.pug-->
    <!--include footers.pug-->
  </body>
</html>