.moduloEncript {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 0 10px;
    width: 100%;
    min-width: 280px;
    @include font-size(16px);
    &__container--tittle {
        margin-top: 10px;
        margin-bottom: 0;
        padding-left: 0;
        width: 220px;
        min-width: 200px;
    }
    &__container--mensaje {
        margin: 10px auto 0;
        width: 100%;
        resize: none;
        color: white;
        background-color: #222;
    }
    &__container--action {
        display: flex;
        flex-direction: row;
        margin: 0;
        width: 100%;
        input {
            flex: 1 1 20%;
            margin: 0 auto;
            padding: 5px;
        }
    }
    @include media(tablet) {
        max-width: 900px;
        margin: 10px auto 20px;
    }
}
